{% extends "layout.html" %}{% block title %} Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}


<section id="relations" class="container">
    <div class="site-content">
        <div class="posts">
            <div  class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphOne" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Tobacco Consumption and Low-density lipoprotein</a>
                    <p>LDL levels are generally from 2.8 to 6.5 for moderate-high tobacco consumer.
                        People with family history of heart disease have higher LDL levels as compared to people with no family history.
                    </p>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphTwo" class="post-image">
                    </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Alcohol Consumption and Systolic BP</a>
                    <p>People with no Coronary Heart Disease have controlled blood pressure at moderate level of alcohol consumption
                        whereas people suffering from CHD show increased level of blood pressure at low levels of alcohol consumption.
                    </p>
                </div>
            </div>
        </div>
        <aside id="datasets" class="sidebar">
            <div class="category">
                <h2>Category</h2>
                <ul class="category-list">
                    <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                        <a href="/relations/cardiovascular">Cardiovascular</a>
                        <span>(02)</span>
                    </li>
                    <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                        <a href="/relations/performance">Performance</a>
                        <span>(09)</span>
                    </li>
                    <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                        <a href="/relations/quality">Quality of Life</a>
                        <span>(05)</span>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</section>



{% endblock %}