{% extends "layout.html" %}{% block title %} Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}


<section id="relations" class="container">
    <div class="site-content">
        <div class="posts">
            <div  class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphThree" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between No. of failures and Weekly alcohol consumption</a>
                    <p>Higher the weekly alcohol consumption, higher is the probability of failure.
                    </p>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphFour" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Failures and Weekly alcohol consumption</a>
                    <p>Female with higher alcohol consumption tend to fail more when compared with Male with same level of alcohol consumption
                    </p>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphFive" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Literature Marks and Weekly alcohol consumption</a>
                    <p>Female tends to perform better at medium alcohol consumption as compared to male
                    </p>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphSix" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Alcohol Consumption  and Absences</a>
                    <p>Darker the colour, higher the consumption level. And numbers corresponding to colour shows number of absent days.
                        Students with least number of absences have higher number of Weekly Alcohol Consumption
                    </p>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphSeven" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Number of people and Weekly alcohol consumption</a>
                    <p>Average number of male at every level of consumption is generally higher than average number of female.
                    </p>
                </div>
            </div>
            <hr>
            <!-- <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphEight" class="post-image">
                    <div>
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 16, 2019</span>
                        <span>7 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div> -->
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphNine" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Freetime, Studytime and Alcohol Consumption</a>
                    <p>Male with more freetime tends to drink more alcohol when compared to female.
                    </p>
                </div>
            </div>
            <hr>
            <!-- <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphTen" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div> -->
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphEleven" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Logical Marks and Alcohol consumption</a>
                    <p>At lower levels of alcohol consumption, females perform better but at higher levels male performs relatively better
                    </p>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphTwelve" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Literature Marks and Alcohol consumption</a>
                    <p>At lower levels of alcohol consumption, females perform better but at higher levels male performs relatively better.
                    </p>
                </div>
            </div>
            <hr>
            <!-- <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphThirteen" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div> -->
        </div>
        <aside id="datasets" class="sidebar">
            <div class="category">
                <h2>Category</h2>
                <ul class="category-list">
                    <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                        <a href="/relations/cardiovascular">Cardiovascular</a>
                        <span>(02)</span>
                    </li>
                    <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                        <a href="/relations/performance">Performance</a>
                        <span>(09)</span>
                    </li>
                    <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                        <a href="/relations/quality">Quality of Life</a>
                        <span>(05)</span>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</section>



{% endblock %}