{% extends "layout.html" %}{% block title %} Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}


<section id="relations" class="container">
    <div class="site-content">
        <div class="posts">
            <div  class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphFourteen" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Quality of Life and Alcohol Use</a>
                    <p>The quality of life remains almost similar in the both of the cases,
                        where in one if a person is only drinking alcohol and not using tobacco and vice versa.
                    </p>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphFifteen" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Marital Status and Alcohol Use</a>
                    <p>Darker the shade, lesser is the alcohol consumption. Marital Status : 1-->Divorced/Widowed , 2-->Unmarried, 3-->Married
                        Alcohol consumption is higher in married people
                    </p>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphSixteen" class="post-image">
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between Socio-Economic Status and Alcohol Use</a>
                    <p>Lighter the shade, greater the alcohol consumption. 
                        Numbers represent the class of the people, lower the number, higher the class.
                        Middle-class people tend to drink more when compared to both lower class and upper class
                </div>
            </div>
            <hr>
        </div>
        <aside id="datasets" class="sidebar">
            <div class="category">
                <h2>Category</h2>
                <ul class="category-list">
                    <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                        <a href="/relations/cardiovascular">Cardiovascular</a>
                        <span>(02)</span>
                    </li>
                    <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                        <a href="/relations/performance">Performance</a>
                        <span>(09)</span>
                    </li>
                    <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                        <a href="/relations/quality">Quality of Life</a>
                        <span>(05)</span>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</section>



{% endblock %}