{% extends "layout.html" %}{% block title %} Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<!------------------------ Site Title ---------------------->
<section class="site-title">
        <div class="site-background" data-aos="fade-up" data-aos-delay="100">
            <h3>Team SUS</h3>
            <h1>Adverse Effects of Alcohol</h1>
            <button class="btn"><a href="ML">Try it out!</a></button>
        </div>
    </section>
<!------------x----------- Site Title ----------x----------->

<!-- ADD A SECTION AS TO WHY WE CHOSE THE PROJECT PROBLEM STATEMENT WAGAIRA -PPT SE LELENA -->
<section class="container">
    <div class="site-content">
        <div class="posts">
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div class="post-image">
                    <div>
                        <img src="{{url_for('static',filename='/images/other/sed_boi.jpg')}}" class="img" alt="blog1">
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Problem Statement</a>
                    <p>There is no singular cause of alcoholism. 
                        In fact, there are dozens of risk factors that play a role in the development of an alcohol addiction.
                        Heavy drinking in adolescence can affect brain development and is associated with 4x risk of alcohol dependence in adulthood.
                        These risk factors interact differently in every individual, leading to alcohol use disorders in some and not in others.
                        <br>
                        With our research we will look into all the areas affected by consumption of alcohol and 
                        try to identify the key problems created by it and how it affects one’s mind and body.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}